<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769422548283-uqjqjev8csut666r5i9rni8qa5mnvmh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769422548283-uqjqjev8csut666r5i9rni8qa5mnvmh6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769422548283-ekvcg4m9rh3uv30p2bc0jsrct27t0v26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoH8Y1H4qWg6swS3tL5p1hY_cCsnDw_Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>769422548283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ixo.secbizcard</string>
	<key>PROJECT_ID</key>
	<string>ixo-app-secbizcard</string>
	<key>STORAGE_BUCKET</key>
	<string>ixo-app-secbizcard.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769422548283:ios:4e890df1eb8a72b4eaab1e</string>
</dict>
</plist>